<div class="fiveBox">
	<div class="">
		&nbsp;&nbsp;2014/9～2016/10 <br />
		&nbsp;&nbsp;&nbsp;&nbsp;深圳微媒网络科技有限公司 （20~50人  独资）<br />
		&nbsp;&nbsp;&nbsp;&nbsp;行业：计算机软件<br />
		&nbsp;&nbsp;&nbsp;&nbsp;部门：技术部<br />
		&nbsp;&nbsp;&nbsp;&nbsp;职位名称：web前端工程师<br />
		&nbsp;&nbsp;&nbsp;&nbsp;负责pc端和移动端开发工作，包括前端js、html5基础开发工作；
	</div>
	<br />
	<div class="">
		&nbsp;&nbsp;2012/9～2014/7 <br />
		&nbsp;&nbsp;&nbsp;&nbsp;广昌达新材料技术服务（深圳）股份有限公司（50~100人  独资）<br />
		&nbsp;&nbsp;&nbsp;&nbsp;行业：石油化工<br />
		&nbsp;&nbsp;&nbsp;&nbsp;部门：研发部<br />
		&nbsp;&nbsp;&nbsp;&nbsp;职位名称：研发工程师    <br />
		&nbsp;&nbsp;&nbsp;&nbsp;主要负责石油添加剂的研发与相关技术服务，曾到加拿大培训；
	</div>
	<br />
	<div class="">
		&nbsp;&nbsp;2011/6～2012/8<br />
		&nbsp;&nbsp;&nbsp;&nbsp;深圳市嘉达高科产业发展有限公司（50~100人 合资）<br />
		&nbsp;&nbsp;&nbsp;&nbsp;行业：化工<br />
		&nbsp;&nbsp;&nbsp;&nbsp;部门：研发部<br />
		&nbsp;&nbsp;&nbsp;&nbsp;职位名称：涂料研发工程师    <br />
		&nbsp;&nbsp;&nbsp;&nbsp;主要负责水性乳胶漆的研发；
	</div>
	
</div>