<p>
	&nbsp;&nbsp;<b class="oneTitle">姓&nbsp;&nbsp;名：</b>
	&nbsp;&nbsp;<span>王国俊</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">学&nbsp;&nbsp;历：</b>
	&nbsp;&nbsp;<span>本科</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">年&nbsp;&nbsp;龄：</b>
	&nbsp;&nbsp;<span>29</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">联系电话：</b>
	&nbsp;&nbsp;<span>15986813944</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">电子邮箱：</b>
	&nbsp;&nbsp;<span>jun304804342@163.com</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">毕业学校：</b>
	&nbsp;&nbsp;<span>仲恺农业工程学院</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">住&nbsp;&nbsp;址：</b>
	&nbsp;&nbsp;<span>深圳市宝安区73区</span>
</p>
<p>
	&nbsp;&nbsp;<b class="oneTitle">工作经验：</b>
	&nbsp;&nbsp;<span>2年前端相关经验（5年工作经验）</span>
</p>