<ul class="threeUl">
	&nbsp;&nbsp;<li>熟练HTML、CSS、JavaScript，了解HTTP协议</li>
	&nbsp;&nbsp;<li>熟练JavaScript语言核心技术DOM、BOM、Ajax、JSON等</li>
	&nbsp;&nbsp;<li>熟练HTML5/CSS3，能进行动画制作，对canvas了解并能利用canvas绘制简单的图形</li>
	&nbsp;&nbsp;<li>熟练掌握jQuery、vue、angular、ionic等框架</li>
	&nbsp;&nbsp;<li>熟练LESS预处理工具的使用</li>
	&nbsp;&nbsp;<li>熟悉移动端开发、页面架构和布局等</li>
	&nbsp;&nbsp;<li>熟悉phoneGap开发，有移动端开发经验</li>
	&nbsp;&nbsp;<li>熟悉web标准，能解决浏览器兼容性问题</li>
	&nbsp;&nbsp;<li>了解前端构建工具gulp和打包前端模块工具webpack</li>
	&nbsp;&nbsp;<li>了解微信小程序</li>
	&nbsp;&nbsp;<li>了解cordova</li>
	&nbsp;&nbsp;<li>了解svn版本管理</li>
	&nbsp;&nbsp;<li>了解MySQL</li>
</ul>