<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>王国俊简历</title>
		<link href="css/index.css" type="text/css" rel="stylesheet"/>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="js/index.js" type="text/javascript" charset="utf-8"></script>-->
	</head>
	<body ng-app="myApp" ng-controller='controller'>
		<div class="sky">
			<div class="clouds_one"></div>
			<div class="clouds_two"></div>
			<div class="clouds_three"></div>
		</div>
		<div class="sky" id="sky2">
			<div class="clouds_one"></div>
			<div class="clouds_two"></div>
			<div class="clouds_three"></div>
		</div>
		<div class="sky" id="sky3">
			<div class="clouds_one"></div>
			<div class="clouds_two"></div>
			<div class="clouds_three"></div>
		</div>
		<div>
			<h1><b>王国俊</b> 简历</h1>
		</div>
		
		<div class="left">
			<ul class="fristUl">
				<li ad='0' ng-click="change(this);"><a href="#/one">个人信息</a></li>
				<li ad='1' ng-click="change(this);"><a href="#/two">求职意向</a></li>
				<li ad='2' ng-click="change(this);"><a href="#/three">专业技能</a></li>
				<li ad='3' ng-click="change(this);"><a href="#/four">项目经验</a></li>
				<li ad='4' ng-click="change(this);"><a href="#/five">工作经验</a></li>
				<li ad='5' ng-click="change(this);"><a href="#/six">教育背景</a></li>
				<li ad='6' ng-click="change(this);"><a href="#/seven">自我评价</a></li>
				<li ad='7' ng-click="change(this);" style="position: relative;" class="li2">
					<a>demo</a>
					<ul class="secondUl">
						<li><a href="#/eight">3d立方体组合</a></li>
						<li><a href="#/night">3d六面体展开</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="right">
			<div ng-view></div>
		</div>
		<script type="text/javascript">
			// 注意第二个参数，在数组里有一个 'ngRoute'，表示我们需要在 app 模块里使用 ngRoute 模块
			var app = angular.module('myApp', ['ngRoute']);
			// config() 方法用来对模块进行配置 
			// $routeProvider 是 ngRoute 内定义的对象，需要用它来对路由进行配置
			app.config(function ($routeProvider) {
			// 配置路由
			// when() 方法的意思是：当路由导航到第一个参数的地址时，就启用第二个参数的配置。
			// 在这个示例里第二个参数只配置了模板的内容（template），即使用模板替换掉 ng-view 的内容
				$routeProvider
					.when('/one', {
						templateUrl: 'template/one.html'
					})
					.when('/two', {
						templateUrl: 'template/two.html'
					})
					.when('/three', {
						templateUrl: 'template/three.html'
					})
					.when('/four', {
						templateUrl: 'template/four.html',
						controller:function($scope,$http){
							$http.get('js/index.json').success(function (result) {
					        	$scope.list = result;
					        	
					        }).error(function (result) {
					        	console.log(result)
					        })
						}
					})
					.when('/five', {
						templateUrl: 'template/five.html'
					})
					.when('/six', {
						templateUrl: 'template/six.html'
					})
					.when('/seven', {
						templateUrl: 'template/seven.html'
					})
					.when('/eight', {
						templateUrl: 'template/eight.html'
					})
					.when('/night', {
						templateUrl: 'template/night.html'
					})
					.otherwise({ // 当以上路由配置都不匹配时，就会使用 otherwise 里的配置
						redirectTo: '/one' 
					});
			});
			app.controller('controller',function($scope,$http){
				
			})

		</script>
	</body>
</html>
